.Slideshow {
  background-color: var(--bg-color-3);
}

.navigation {
  color: var(--text-color-4);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation a {
  color: inherit;
  font-size: 10pt;
  font-weight: bold;
  margin-left: 22px;
  margin-right: 15px;
}

.slides {
  /* background-color: rgba(0, 0, 255, 0.5); */
  height: 291px;

}