.Signup {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-content: flex-start;
}

.Signup input {
  width: 100%;
  background-color: var(--bg-color-2);
  border: 0;
  font-size: 9.5pt;
  padding: 5px 15px;
  color: var(--text-color-2);
  border: 1px solid var(--border-color-3);
  width: 350px;
}

.Signup button{
  background-color: var(--bg-color-8);
  color: var(--text-color-4);
  border: 0;
  font-size: 10pt;
  font-weight: bold;
  padding-left: 30px;
}