.Button {
  background-color: transparent;
  padding: 10px 0;
  font-size: 10pt;
  font-weight: bold;
  margin-top: 25px;
  border: 0;
  color: var(--text-color-3);
}
.Button img {
  margin-left: 10px;
}