.WeDeliver {
  margin-top: 40px;
  width: 100%;
  height: 225px;
  background-color: var(--bg-color-6);
  color: var(--text-color-4);
}

.WeDeliver h1 {
  margin: 30px 0 5px;
  font-weight: 900;
  font-size: 35pt;
}

.WeDeliver h1 img {
  width: 57px;
}

.WeDeliver h3 {
  font-weight: 600;
  font-size: 18.5pt;
}
.WeDeliver button {
  width: 205px;
  height: 45px;
  margin: 20px 50px 0 0;
  font-family: inherit;
  font-size: 16pt;
  font-weight: bold;
  background-color: var(--bg-color-2);
  color: var(--text-color-7);
  border: 0;
}

.WeDeliver button:last-child {
  margin-right: 0px;
}